@model ICD.ViewModel.NewAgreementViewModel
@{
    ViewBag.Title = "AddAgreements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Agreements</h2>

@using (Html.BeginForm("Create", "Agreement"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Agreement.Name)
        @Html.TextBoxFor(m => m.Agreement.Name, new { @class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Agreement.AgreementTypeId)
        @Html.DropDownListFor(m => m.Agreement.AgreementTypeId,new SelectList(Model.AgreementType,"Id","Name"), "Select AgreementType", new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}
